node_modules/
build/
public/
.idea/
npm-debug.log
config/production.*
config/development.*
logs/*
!logs/.gitkeep
aql/
test_data/
result_recs.json
tmp.js
.development
.production
refs-to-add.txt
points-to-add.txt
доп/
tmp/*